.left-iframe-wrapper {
	border: 1px solid #aeaeae;
	border-radius: 3px;
	background-color: #f9f9f9;
	width: 218px;
	height: 227px;
	margin-top: 10px;
}

.left-iframe-wrapper .inner {
	margin: 1px;
	border: 1px solid #ffffff;
	border-radius: 3px;
	overflow: hidden;
	padding: 13px 17px 17px 17px;
	height: 193px;
}
.left-iframe-wrapper .title {
	font-size: 0.95em;
	font-family: '맑은 고딕', AppleGothic;
	border-bottom: 1px solid #bbbbbb;
	padding-bottom: 7px;
	margin-bottom: 5px;
	font-weight: bold;
}

.left-iframe-wrapper .title a {
	text-decoration: none;
	color: #7d7d7d;
}

.left-iframe-wrapper iframe {
	width: 180px;
	height: 193px;
	border: 0;
	position: relative;
	top: 3px;
}

.left-iframe-post-latest {
	height: 254px;
}	

.left-iframe-post-latest .inner {
	height: 220px;
}
.left-iframe-post-latest iframe {
	height: 220px;
}

/* opera css hack */
x:-o-prefocus, .left-iframe-wrapper  .inner {
	
}

x:-o-prefocus, .left-iframe-wrapper iframe {
		display: none;
}