#logo {
	padding: 0.5em;
	padding-left: 1.5em;
}

#logo img {
	margin-right: 0.2em;
}

#logo a {
	font-size: 24.5px;
	color: #ffffff;
	text-decoration: none;
	font-family: Lucida Sans Unicode;
}

#tnb a {
	padding: 0 1em 0 0;
	font-size: 12pt;
	color: #ffffff;
	font-family: Gulim;
}

#hd {
	background: #0c95ce;
	height: 60px;
	border-bottom: solid 2px #076489;
}

#hd_wrapper {
	background: #0c95ce;
	height: 60px;

}


/*container*/
body {
	background: #f3f3f3;
}

#container {
	border: 0 !important;
	width: 699px;
}

#aside {
	border: 0 !important;
	padding: 15px 16px 15px 15px
}

/*application form*/
#aside .application-form-container {
	margin-top: 1em;
	border: solid 1px #95cfb7;
	width: 100%;
	background: #f5f5f5;
}

#aside .application-form {
	padding: 1em;
}

#aside .application-form input:first-child {
	margin-top: 0.5em;
}

#aside .application-form input {
	border: solid 1px #e5e5e5;
	padding: 0.5em;
	margin: 0.4em 0 0.4em 0;
	width: 100%;

}

#aside .application-form input[type='text'], #aside .application-form input[type='email'] {
	width: 92%;
	font-style: italic;
}

#aside .application-form {
	font-family: Arial;
}

#aside .application-form h2 {
	font-family: Arial;
	text-transform: uppercase;
	color: #585858;
	font-size: 11.45pt;
}
#aside .application-form table p {
	font-style: italic;
}

#aside .application-form table h2 {
	font-size: 13pt;
}

#wrapper {
	border: 0 !important;
	background: #ffffff;
}

.footer-text {
	margin-top: 1em;
	clear:both;
	float: right;
}

.footer-text p {
	font-family: Gulim;
	color: #acacac;
	text-transform: uppercase;
	padding: 1em;
}

