.admin-menu {
	padding: 0.5em;
	background-color: #f0f0f0;
	min-height: 500px;
}
.admin-menu a {
	padding: 0.6em;
}
.admin-menu a:hover {

}

.admin-menu ul {
	margin:0;
	padding:0;
	list-style:none;
}
.admin-menu > ul > li {
	float: left;
	margin: 0.5em;
	font-size: 12pt;
}

.admin-menu > ul > li > ul {
	font-size: 10pt;
	display: none;
	position: absolute;	
}

.admin-menu > ul > li > ul > li {
	margin-top: 0.5em;
}


