.admin-menu {

	background-color: #f0f0f0;
}
.admin-menu a {

}
.admin-menu a:hover {

}

.admin-menu ul {
	margin:0;
	padding:0;
	list-style:none;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.admin-menu > ul > li {
	float: left;
	padding: 0.5em;
	font-size: 11pt;
	z-index: 999;
	text-transform: uppercase;
	position: relative;
	cursor: pointer;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

.admin-menu > ul > li:hover {
	background: #333333;
	color: #ffffff;
}



.admin-menu > ul > li > ul {
	margin: 0;
	font-size: 10pt;
	display: none;
	position: absolute;	
	left: 0;
	width: 100%;
	padding-top: 0.5em;
	z-index: 998;

}

.admin-menu > ul > li > ul > li {
	text-transform: none;
	width: 100%;
	background: #333333;
	padding: 0.5em 1em 0.5em 1em;

}

.admin-menu > ul > li > ul > li a {
	text-decoration: none;
	color: #ffffff;
}

.admin-menu > ul > li > ul > li:hover {
	background: #939393;


}
.admin-menu > ul > li > ul > li:hover a{
	color: #000000;
}

